ingame-ui.vpforce-panel {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100% !important;
  width: 100% !important;
}
ingame-ui.vpforce-panel #VpforceSettingsWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui.vpforce-panel #VpforceSettingsWrap #VpforceSettingsIframe {
  flex: 1 1 auto !important;
  border: 0;
}
ingame-ui.vpforce-panel #MainDisplay.hidden {
  display: none;
}
ingame-ui.vpforce-panel #Footer.hidden {
  display: none;
}
ingame-ui.vpforce-panel .ingameUiContent {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui.vpforce-panel .ingameUiWrapper {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
